body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: getColor("primary");
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.contact {
  @include transition;
  @include font-style($weight: $font-medium, $spacing: 0.2em);
  color: getColor("secondary");
  font-size: getFont("regular");
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  margin-right: 0;
}
.section {
  padding: 94px 0;
}
.icon {
  fill: getColor("icon");
  cursor: pointer;
}
.heading {
  @include flex;
  @include font-style($weight: $font-bold);
  font-size: getFont("titles");
  margin: 0;
  padding-bottom: 50px;
}
