$font: "Roboto", "Raleway", sans-serif;
//font size
$regular-font-size: 14px;
$titles-font-size: 36px;
$label-font-size: 44px;
$btn-font-size: 16px;
$team-font-size: 16px;
$project-title-font-size: 18px;
$project-descr-font-size: 16px;
$text-font-size: 18px;
$footer-logo-font-size: 26px;
$form-title-font-size: 20px;
$form-label-font-size: 12px;

//font weight
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
