//box-shadows
$shadow: (
  "team": 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14): 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
  "btn": 1px 0px 10px 3px rgba(73, 76, 105, 0.693),
  "portfolio-btn": 1px 4px 3px 0px rgb(178, 178, 179),
  "project": 0px 4px 15px -3px rgba(117, 117, 117, 0.41),
  "newsletter": 0px 4px 4px rgba(0, 0, 0, 0.15),
  "newsletter-hover": 1px 0px 10px 3px rgba(73, 76, 105, 0.693),
  "modal": 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14): 0px 2px 1px rgba(0, 0, 0, 0.2),
  "modal-btn-hover": 0px 0px 4px 0px rgba(154, 154, 166, 0.41),
  "form-btn": 0px 4px 4px rgba(0, 0, 0, 0.15),
  "form-btn-hover": 1px 0px 8px 3px rgba(97, 100, 122, 0.395),
);

$height: 1.16;
$spacing: 0.03em;
$radius: 4px;
